<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://digitalvpodiag166.blob.core.chinacloudapi.cn/app/ABIVPOiOS.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://digitalvpodiag166.blob.core.chinacloudapi.cn/app/vpotwoLogo.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://digitalvpodiag166.blob.core.chinacloudapi.cn/app/vpotwoLogo.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.jbinfo.zjc.utvpo</string>
				<key>bundle-version</key>
				<string>2.0.6</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>DVPO2.0 韩国 Test</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
